* {font-family: 'Montserrat', sans-serif;}

body {
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    background-color: #090b2a;
}

#logo {
    font-weight: 900;
    font-size: 1.3rem;
    padding: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    margin-left: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 565px) {
    header  {
        flex-direction: column;
    }

    li {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #logo {
        margin-bottom: 0.1rem;
    }
}

/* MAIN */

h1 {
    margin-top: 60px;
    font-weight: 100;
    text-align: center;
    color: #090b2a;
}

div {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    color: rgb(202, 202, 202);
}

#name {
    border: 1.2px solid #090b2a;
    border-radius: 30px;
    padding: 10px;
    width: 30%;
}

#mail {
    border: 1.2px solid #090b2a;
    border-radius: 30px;
    padding: 10px;
    width: 30%;
}

#number {
    border: 1.2px solid #090b2a;
    border-radius: 30px;
    padding: 10px;
    width: 30%;
}

#message {
    border: 1.2px solid black;
    border-radius: 30px;
    padding: 60px;
    width: 30%;
}

#send {
    border: 1px solid #090b2a;
    background-color: #090b2a;
    border-radius: 30px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    color: white;
}

input {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 4px;
}

@media screen and (max-width: 500px) {
    #name {
        border: 1.2px solid #090b2a;
        border-radius: 30px;
        padding: 10px;
        width: 30%;
    }
    
    #mail {
        border: 1.2px solid #090b2a;
        border-radius: 30px;
        padding: 10px;
        width: 30%;
    }

    #number {
        border: 1.2px solid #090b2a;
        border-radius: 30px;
        padding: 10px;
        width: 30%;
    }
    
    #message {
        border: 1.2px solid #090b2a;
        border-radius: 30px;
        padding: 60px;
        width: 30%;
    }

}

/* FOOTER */

footer {
    text-align: center;
    border-top: 1.3px solid #090b2a;
    margin-top: 30px;
    color: #090b2a;
}
