* {font-family: 'Montserrat', sans-serif;}

body {
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    align-items: center;
    background-color: rgba(214, 212, 199, 0.545);
    padding-left: 15px;
}

#logo {
    font-weight: 900;
    font-size: 1.3rem;
    padding: 5px; 
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}

li {
    margin-left: 2rem;
}

a {
    color: black;
}

@media screen and (max-width: 565px) {
    header  {
        flex-direction: column;
    }

    li {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #logo {
        margin-bottom: 0.1rem;
    }
}

/* MAIN */

#category {
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
    margin: 50px;
}

.work-pictures {
    width: 50%;
}

.work-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 70px;
} 

figure {
    text-align: center;
}

figcaption {
    padding-top: 20px;
}

@media screen and (max-width: 565px) {
    .work-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .work-pictures {
        width: 90%;
    }
}

/* FOOTER */

footer {
    border-top: 1.3px solid black;
}